
<div class="z-100 md:w-200px flex md:flex-col md:col md:h-auto md:justify-start fixed md:static bg-white w-full justify-between items-center h-22 flex-row">
    <a href="/" >
    <img 
        src="/images/logos/logoOpt-140.png" 
        width="140" 
        height="210" 
        alt="logo La Bonne Fabrique" 
        class="hidden md:inline-block mt-2 self-center">
    <img 
        src="/images/logos/logoHorizontal-120.png" 
        width="120" 
        height="40" 
        alt="logo La Bonne Fabrique"
        srcset="/images/logos/logoHorizontal-120.png 120w, /images/logos/logoHorizontal-360.png 360w"
        class="md:hidden my-2">
        </a>
    <div class="my-auto col relative mr-2 md:my-0">
        <input class="hidden" type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="my-auto pointer-cursor md:hidden inline-block mr-2">
            <div class="nav-icon" id="nav-icon">
                <div></div>
            </div>
        </label>
        <nav class="md:mt-3 md:ml-4 md:flex md:flex-col bg-white md:bg-white md:relative md:shadow-none font-bold hidden absolute right-0 shadow-md rounded px-2" id="menu">
            <a href="/" class="flex mb-1 md:py-2 items-baseline text-rougeLBF">
                <div class="w-1/6 inline-block align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg"  width="30" height="30" viewBox="0 0 20 20" class="fill-current ">
                        <path fill="currentColor" d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/>
                    </svg>
                </div>
                <div class="w-5/6 ml-6">Accueil</div>
            </a>
            <a href="/tarifs"  class="flex mb-1 md:py-2 items-center text-orangeLBFfonce">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  class="fill-current ">
                    <path fill="currentColor" d="M25.76 28.51l-.746-3.388a.65.65 0 00-.32-.447.636.636 0 00-.553-.043l-.107.043-.256.064-.394.095c-.15.036-.323.071-.522.107a13.03 13.03 0 01-.629.096c-.22.028-.457.053-.713.074a9.387 9.387 0 01-.767.032c-1.804 0-3.427-.486-4.87-1.46-1.441-.973-2.503-2.29-3.185-3.952h8.246a.647.647 0 00.426-.16.646.646 0 00.234-.394l.512-2.386a.693.693 0 00-.128-.576.666.666 0 00-.533-.256h-9.78c-.042-.965-.042-1.711 0-2.237h10.399c.384 0 .61-.184.682-.554l.51-2.429a.625.625 0 00-.148-.554.627.627 0 00-.533-.256h-9.972c.71-1.59 1.776-2.84 3.197-3.75 1.42-.909 3.025-1.363 4.815-1.363.057-.029.266-.022.628.021.363.042.569.06.618.053.05-.007.235.015.554.064l.48.075.373.074c.106.022.188.039.245.053l.085.022a.625.625 0 00.81-.469l.916-3.388a.707.707 0 00-.063-.511c-.128-.17-.27-.277-.427-.32A16.992 16.992 0 0020.71 0c-3.182 0-6.026.91-8.533 2.727C9.669 4.545 7.94 6.947 6.988 9.93H4.9a.664.664 0 00-.49.192.664.664 0 00-.191.49v2.429c0 .199.063.362.191.49a.664.664 0 00.49.191h1.428a23.04 23.04 0 00-.022 2.238H4.9a.655.655 0 00-.48.202.655.655 0 00-.201.48v2.407c0 .185.067.344.202.48a.655.655 0 00.48.202h2.024c.894 3.139 2.585 5.636 5.07 7.49C14.483 29.072 17.388 30 20.71 30c.27 0 .544-.007.82-.021.279-.015.537-.036.779-.064a20.424 20.424 0 001.896-.309 4.8 4.8 0 00.458-.117 4.56 4.56 0 01.341-.095 1.05 1.05 0 00.223-.075l.107-.021a.67.67 0 00.362-.31.625.625 0 00.064-.478z"/>
                </svg>
                <div class="w-5/6 inline-block align-middle ml-3">Tarifs</div>
            </a>
            <a href="/galerie/" class="flex mb-1 md:py-2 items-center text-lbfbleu-800">
                <div class="w-1/6 inline-block align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg"  width="30" height="30" viewBox="0 0 20 20" class="fill-current ">
                        <path fill="currentColor" d="M0 0h9v9H0V0zm2 2v5h5V2H2zm-2 9h9v9H0v-9zm2 2v5h5v-5H2zm9-13h9v9h-9V0zm2 2v5h5V2h-5zm-2 9h9v9h-9v-9zm2 2v5h5v-5h-5z"/>
                    </svg>
                </div>
                <div class="w-5/6 ml-6">Galerie</div>
            </a>
        </nav>
    </div>
</div>